@import "tailwindcss";


@theme {
  --color-main-color: #FF9900;
  --color-dark-color: #1a202c
}

@font-face {
  font-family: 'Main';
  src: url('./assets/fonts/bpg_nino_mtavruli_bold.ttf') format('truetype');
  font-weight: bold !important;
  /* Optional: Define weight */
  font-style: normal;
  /* Optional: Define style */
  font-display: swap;
  /* Improves performance */
}


* {
  font-family: "Main";
}

/* Custom styles for navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #1a202c !important;
  /* Change arrow color */
}

/* Custom styles for pagination dots */
.swiper-pagination-bullet {
  background-color: #cbd5e1;
  /* Inactive color */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #1a202c !important;
  /* Active dot color */
}

.main_wrapper {
  width: 100%;
  position: relative;
}

@media screen and (min-width:1600px) {
  .main_wrapper {
    width: 1600px;
  }
  .header {
    width: 1600px;
  }
  footer {
    width: 1600px;
  }
}