@import "tailwindcss";


@theme {
  --color-main-color: #FF9900;
  --color-dark-color: #1a202c
}

@font-face {
  font-family: 'Main';
  src: url('./assets/fonts/bpg_nino_mtavruli_bold.ttf') format('truetype');
  font-weight: bold !important;
  /* Optional: Define weight */
  font-style: normal;
  /* Optional: Define style */
  font-display: swap;
  /* Improves performance */
}


*{
  font-family: "Main";
}